

@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,300;0,400;0,500;0,700;0,800;1,800;1,900&family=Poppins:wght@400;500;600;700;800;900&display=swap');

/* .................browser reset style............. */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

   
}

.container{
    max-width: 1280px;
    margin: auto;

}

:root{
    --primary-color:black;
}


/* .................header section style............. */

header{
    max-width: 1280px;
    margin: auto;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    
}
.logo{
    display: flex; 
    align-items: center;
    gap: 10px;
}
.logo img{
    width: 50px;
    height: 50px;
}
.logo p{
    color: gray;
}

.menu ul{
    display: flex;
    text-decoration: none;
    gap: 20px;
    align-items: center;
}
.menu ul li{
    list-style: none;
    text-decoration: none;
}
.login-btn{
    padding: 10px 25px;
    color: aliceblue;
    font-weight: 500;
    background-color: var(--primary-color);
}

/* .................hero section style............. */

.hero-section{
    background-color: gainsboro;
}

.hero-img{
    width: 100%;
    background-image: 
    linear-gradient(to right bottom, 
   rgba(0,0,0,0.5),
   rgba(0,0,0,0.5));
   clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
   

}
.hero-img img{
    
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}


/* .................banner  section style............. */

.banner{
    background-color: gainsboro;
}

.banner-container{
    max-width: 1280px;
    margin: auto;
    padding: 7% 0;
    text-align: center;

}
.banner-heading{
    font-weight: 700;
    color: rgba(0, 0, 0, 0.921);
    font-size: 7vh;
    line-height: 45px;

}
.banner-text{
    color: rgba(0, 0, 0, 0.537);
    font-size: 13px;
    margin-top: 15px;
    margin-bottom: 40px;
}
.banner-btn-cintainer{
    
    display: flex;
    justify-content: center;
}

.banner-btn {
    min-height: 53px;
    min-width: 166px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    position: relative;
    cursor: pointer;
    background: -webkit-gradient(linear, left top, right top, color-stop(-12.74%, rgba(0,0,0, .5)), color-stop(56.76%, rgba(0,0,0, .271)));
    background: linear-gradient(90deg, rgba(0,0,0, .5) -12.74%, rgba(0,0,0, .271) 56.76%);
    border: 2px solid black;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
  }
  
  .banner-btn:before {
    content: "";
    width: 4px;
    height: 28px;
    background: black;
    border: 2px solid black;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: absolute;
    border-top: 0;
    border-left: 0;
    border-bottom: 0;
    bottom: -7px;
    left: 4px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
  }
  
  .banner-btn:after {
    content: "";
    position: absolute;
    left: -2px;
    bottom: -2px;
    border-top: 15px solid transparent;
    border-left: 15px solid black;
  }


/* .................hero section style............. */


/* .................hero section style............. */


/* .................hero section style............. */


/* .................hero section style............. */






/* .................media query style............. */

@media only screen and (max-width: 576px) {
    nav{
        display: flex;
        flex-direction: column;
    }
    .menu ul{
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
    }
  }

  @media only screen and (max-width: 992px){
    nav{
        margin: 0 20px;
    }
    .hero-img{
        margin: 20px;
        margin: auto;
        width: 100%;
    }
    .hero-img img{
        margin: 20px;
        margin: auto;
        width: 100%;
    }

    .banner-container{
        padding: 7% 2%;
    }
    .banner{
        margin-top: 20px;
    }
  }